/* line 3, ../sass/style.scss */
body {
  color: #333;
  background: #eee;
  margin: 0;
  padding: 44px 0 0;
  font: 100%/1.15 Helvetica, sans-serif;
}

/* line 11, ../sass/style.scss */
header#app-header {
  position: fixed;
  z-index: 300;
  margin-bottom: 44px;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  min-height: 44px;
  border-bottom: 1px solid #ccc;
}
/* line 21, ../sass/style.scss */
header#app-header span.logo {
  position: absolute;
  top: 5px;
  bottom: 0;
  left: 6px;
  width: 110px;
  background: url("/img/sat.png") no-repeat;
  background-size: auto 35px;
  -webkit-transition: left 0.33s;
  -moz-transition: left 0.33s;
  -o-transition: left 0.33s;
  transition: left 0.33s;
}
/* line 31, ../sass/style.scss */
header#app-header a.action {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  width: 44px;
  line-height: 44px;
  font-size: 33px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: left 0.33s;
  -moz-transition: left 0.33s;
  -o-transition: left 0.33s;
  transition: left 0.33s;
}
/* line 44, ../sass/style.scss */
header#app-header a.action.back {
  left: -44px;
}
/* line 47, ../sass/style.scss */
header#app-header a.action.help {
  right: 0;
}
/* line 50, ../sass/style.scss */
header#app-header a.action.notif {
  right: 44px;
}
/* line 55, ../sass/style.scss */
header#app-header.has-history a.back {
  left: 0;
}
/* line 58, ../sass/style.scss */
header#app-header.has-history span.logo {
  left: 50px;
}

/* line 64, ../sass/style.scss */
#app-main {
  position: relative;
}

/* line 68, ../sass/style.scss */
#app, #app2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #ffe;
}

/* line 75, ../sass/style.scss */
#app2 {
  background: #eff;
}

/* line 79, ../sass/style.scss */
.wrap {
  padding: 0 10px;
}

/* line 83, ../sass/style.scss */
.slide-in {
  z-index: 101;
  -webkit-animation: slidein 0.4s;
  -moz-animation: slidein 0.4s;
  -ms-animation: slidein 0.4s;
  -o-animation: slidein 0.4s;
  animation: slidein 0.4s;
}
/* line 86, ../sass/style.scss */
.slide-in.slide-back {
  -webkit-animation: slidein-back 0.4s;
  -moz-animation: slidein-back 0.4s;
  -ms-animation: slidein-back 0.4s;
  -o-animation: slidein-back 0.4s;
  animation: slidein-back 0.4s;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}

/* line 92, ../sass/style.scss */
.slide-out {
  z-index: 100;
  -webkit-animation: slideout 0.4s;
  -moz-animation: slideout 0.4s;
  -ms-animation: slideout 0.4s;
  -o-animation: slideout 0.4s;
  animation: slideout 0.4s;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
/* line 96, ../sass/style.scss */
.slide-out.slide-back {
  -webkit-animation: slideout-back 0.4s;
  -moz-animation: slideout-back 0.4s;
  -ms-animation: slideout-back 0.4s;
  -o-animation: slideout-back 0.4s;
  animation: slideout-back 0.4s;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

@-webkit-keyframes slideout {
  /* line 103, ../sass/style.scss */
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  /* line 106, ../sass/style.scss */
  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-moz-keyframes slideout {
  /* line 103, ../sass/style.scss */
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  /* line 106, ../sass/style.scss */
  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-ms-keyframes slideout {
  /* line 103, ../sass/style.scss */
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  /* line 106, ../sass/style.scss */
  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes slideout {
  /* line 103, ../sass/style.scss */
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  /* line 106, ../sass/style.scss */
  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-webkit-keyframes slideout {
  /* line 112, ../sass/style.scss */
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  /* line 115, ../sass/style.scss */
  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-moz-keyframes slideout {
  /* line 112, ../sass/style.scss */
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  /* line 115, ../sass/style.scss */
  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-ms-keyframes slideout {
  /* line 112, ../sass/style.scss */
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  /* line 115, ../sass/style.scss */
  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes slideout {
  /* line 112, ../sass/style.scss */
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  /* line 115, ../sass/style.scss */
  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slidein {
  /* line 120, ../sass/style.scss */
  0% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }

  /* line 123, ../sass/style.scss */
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-moz-keyframes slidein {
  /* line 120, ../sass/style.scss */
  0% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }

  /* line 123, ../sass/style.scss */
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-ms-keyframes slidein {
  /* line 120, ../sass/style.scss */
  0% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }

  /* line 123, ../sass/style.scss */
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes slidein {
  /* line 120, ../sass/style.scss */
  0% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }

  /* line 123, ../sass/style.scss */
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideout-back {
  /* line 129, ../sass/style.scss */
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  /* line 132, ../sass/style.scss */
  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-moz-keyframes slideout-back {
  /* line 129, ../sass/style.scss */
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  /* line 132, ../sass/style.scss */
  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-ms-keyframes slideout-back {
  /* line 129, ../sass/style.scss */
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  /* line 132, ../sass/style.scss */
  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes slideout-back {
  /* line 129, ../sass/style.scss */
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  /* line 132, ../sass/style.scss */
  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-webkit-keyframes slidein-back {
  /* line 137, ../sass/style.scss */
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  /* line 140, ../sass/style.scss */
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-moz-keyframes slidein-back {
  /* line 137, ../sass/style.scss */
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  /* line 140, ../sass/style.scss */
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-ms-keyframes slidein-back {
  /* line 137, ../sass/style.scss */
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  /* line 140, ../sass/style.scss */
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes slidein-back {
  /* line 137, ../sass/style.scss */
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  /* line 140, ../sass/style.scss */
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

/* line 5, ../sass/_secciones.scss */
.ctr {
  text-align: center;
}

/* line 8, ../sass/_secciones.scss */
.lft {
  text-align: left;
}

/* line 11, ../sass/_secciones.scss */
.rgt {
  text-align: right;
}

/* line 14, ../sass/_secciones.scss */
.inlineblock {
  display: inline-block;
}

/* line 18, ../sass/_secciones.scss */
ul.touch-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 23, ../sass/_secciones.scss */
ul.touch-list > li a {
  background: rgba(255, 255, 255, 0.5);
  padding: 10px 10px;
  display: block;
}

/* line 21, ../sass/_include.scss */
:-moz-placeholder {
  color: #999;
}

/* line 22, ../sass/_include.scss */
::-moz-placeholder {
  color: #999;
}

/* line 23, ../sass/_include.scss */
:-ms-input-placeholder {
  color: #999;
}

/* line 24, ../sass/_include.scss */
::-webkit-input-placeholder {
  color: #999;
}

/* line 35, ../sass/_secciones.scss */
.inputtext, .inputsubmit {
  font-size: 1rem;
  border-radius: 0;
  margin: 0;
}

/* line 40, ../sass/_secciones.scss */
.inputtext {
  color: #666;
  border: 1px solid #eee;
  padding: 0.3rem;
}
/* line 44, ../sass/_secciones.scss */
.inputtext.uppercase {
  text-transform: uppercase;
}
/* line 47, ../sass/_secciones.scss */
.inputtext:focus {
  outline: 0;
  border: 1px solid #999;
  color: #333;
}

/* line 53, ../sass/_secciones.scss */
.inputsubmit {
  padding: 0.45rem 0.65rem;
  border: 0;
}
/* line 56, ../sass/_secciones.scss */
.inputsubmit.main {
  background: #99f;
  color: #fff;
}
/* line 60, ../sass/_secciones.scss */
.inputsubmit.block {
  width: 100%;
  display: block;
}
