body {
  color: #333;
  background: #fff;
  margin: 0;
  padding: 44px 0 0;
  font: 16px/1.15 proxima-nova-soft, Helvetica, sans-serif;
}

a {
  color: #1b2a40;
  text-decoration: none;
}

header#app-header {
  position: fixed;
  z-index: 300;
  margin-bottom: 44px;
  top: 0;
  left: 0;
  right: 0;
  min-height: 44px;
  border-bottom: 1px solid #ccc;
  background: #F6F7F6;
  background: linear-gradient(#f6f7f6 50%, #eef0ee 50%);
}
header#app-header span.logo {
  position: absolute;
  top: 7px;
  bottom: 0;
  left: 6px;
  -webkit-transition: left 0.33s;
  -moz-transition: left 0.33s;
  -o-transition: left 0.33s;
  transition: left 0.33s;
  background-image: url('/img/layout-sd86f01037c.png');
  background-position: 0 0;
  -webkit-background-size: 84px 710px;
  -moz-background-size: 84px 710px;
  -o-background-size: 84px 710px;
  background-size: 84px 710px;
  width: 84px;
  height: 28px;
}
header#app-header a.action {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  width: 44px;
  line-height: 44px;
  font-size: 33px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  -webkit-transition: left 0.33s;
  -moz-transition: left 0.33s;
  -o-transition: left 0.33s;
  transition: left 0.33s;
}
header#app-header a.action.back {
  background: rgba(51, 51, 51, 0.2);
  left: -44px;
}
header#app-header a.action.help {
  right: 0;
}
header#app-header a.action.notif {
  right: 44px;
}
header#app-header.has-history a.back {
  left: 0;
}
header#app-header.has-history span.logo {
  left: 50px;
}
header#app-header.notifications-open a.notif {
  background: #f00;
}
header#app-header.notifications-open .notificaciones {
  display: block;
}
header#app-header .notificaciones {
  position: absolute;
  right: 5px;
  top: 100%;
  background: #fff;
  border: 2px solid #eee;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  min-width: 40%;
  display: none;
}

#app-main {
  position: relative;
}

#app, #app2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.wrap {
  padding: 0 10px;
}

.slide-in {
  z-index: 101;
  -webkit-animation: slidein 0.4s;
  -moz-animation: slidein 0.4s;
  -ms-animation: slidein 0.4s;
  -o-animation: slidein 0.4s;
  animation: slidein 0.4s;
}
.slide-in.slide-back {
  -webkit-animation: slidein-back 0.4s;
  -moz-animation: slidein-back 0.4s;
  -ms-animation: slidein-back 0.4s;
  -o-animation: slidein-back 0.4s;
  animation: slidein-back 0.4s;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}

.slide-out {
  z-index: 100;
  -webkit-animation: slideout 0.4s;
  -moz-animation: slideout 0.4s;
  -ms-animation: slideout 0.4s;
  -o-animation: slideout 0.4s;
  animation: slideout 0.4s;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.slide-out.slide-back {
  -webkit-animation: slideout-back 0.4s;
  -moz-animation: slideout-back 0.4s;
  -ms-animation: slideout-back 0.4s;
  -o-animation: slideout-back 0.4s;
  animation: slideout-back 0.4s;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

@-webkit-keyframes slideout {
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-moz-keyframes slideout {
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-ms-keyframes slideout {
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes slideout {
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-webkit-keyframes slideout {
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-moz-keyframes slideout {
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-ms-keyframes slideout {
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes slideout {
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slidein {
  0% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-moz-keyframes slidein {
  0% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-ms-keyframes slidein {
  0% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes slidein {
  0% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideout-back {
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-moz-keyframes slideout-back {
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-ms-keyframes slideout-back {
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes slideout-back {
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-webkit-keyframes slidein-back {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-moz-keyframes slidein-back {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-ms-keyframes slidein-back {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes slidein-back {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

.table {
  display: table;
  width: 100%;
}
.table.padded > .tcell {
  padding: 10px 5px;
}
.table.padded > .tcell:first-child {
  padding-left: 10px;
}
.table.padded > .tcell:last-child {
  padding-right: 10px;
}
.table > .tcell {
  display: table-cell;
}
.table > .tcell.top {
  vertical-align: top;
}
.table > .tcell.middle {
  vertical-align: middle;
}
.table > .tcell.bottom {
  vertical-align: bottom;
}
.table > .tcell.t1 {
  width: 1%;
}
.table > .tcell.t2 {
  width: 2%;
}
.table > .tcell.t3 {
  width: 3%;
}
.table > .tcell.t4 {
  width: 4%;
}
.table > .tcell.t5 {
  width: 5%;
}
.table > .tcell.t6 {
  width: 6%;
}
.table > .tcell.t7 {
  width: 7%;
}
.table > .tcell.t8 {
  width: 8%;
}
.table > .tcell.t9 {
  width: 9%;
}
.table > .tcell.t10 {
  width: 10%;
}
.table > .tcell.t11 {
  width: 11%;
}
.table > .tcell.t12 {
  width: 12%;
}
.table > .tcell.t13 {
  width: 13%;
}
.table > .tcell.t14 {
  width: 14%;
}
.table > .tcell.t15 {
  width: 15%;
}
.table > .tcell.t16 {
  width: 16%;
}
.table > .tcell.t17 {
  width: 17%;
}
.table > .tcell.t18 {
  width: 18%;
}
.table > .tcell.t19 {
  width: 19%;
}
.table > .tcell.t20 {
  width: 20%;
}
.table > .tcell.t21 {
  width: 21%;
}
.table > .tcell.t22 {
  width: 22%;
}
.table > .tcell.t23 {
  width: 23%;
}
.table > .tcell.t24 {
  width: 24%;
}
.table > .tcell.t25 {
  width: 25%;
}
.table > .tcell.t26 {
  width: 26%;
}
.table > .tcell.t27 {
  width: 27%;
}
.table > .tcell.t28 {
  width: 28%;
}
.table > .tcell.t29 {
  width: 29%;
}
.table > .tcell.t30 {
  width: 30%;
}
.table > .tcell.t31 {
  width: 31%;
}
.table > .tcell.t32 {
  width: 32%;
}
.table > .tcell.t33 {
  width: 33%;
}
.table > .tcell.t34 {
  width: 34%;
}
.table > .tcell.t35 {
  width: 35%;
}
.table > .tcell.t36 {
  width: 36%;
}
.table > .tcell.t37 {
  width: 37%;
}
.table > .tcell.t38 {
  width: 38%;
}
.table > .tcell.t39 {
  width: 39%;
}
.table > .tcell.t40 {
  width: 40%;
}
.table > .tcell.t41 {
  width: 41%;
}
.table > .tcell.t42 {
  width: 42%;
}
.table > .tcell.t43 {
  width: 43%;
}
.table > .tcell.t44 {
  width: 44%;
}
.table > .tcell.t45 {
  width: 45%;
}
.table > .tcell.t46 {
  width: 46%;
}
.table > .tcell.t47 {
  width: 47%;
}
.table > .tcell.t48 {
  width: 48%;
}
.table > .tcell.t49 {
  width: 49%;
}
.table > .tcell.t50 {
  width: 50%;
}
.table > .tcell.t51 {
  width: 51%;
}
.table > .tcell.t52 {
  width: 52%;
}
.table > .tcell.t53 {
  width: 53%;
}
.table > .tcell.t54 {
  width: 54%;
}
.table > .tcell.t55 {
  width: 55%;
}
.table > .tcell.t56 {
  width: 56%;
}
.table > .tcell.t57 {
  width: 57%;
}
.table > .tcell.t58 {
  width: 58%;
}
.table > .tcell.t59 {
  width: 59%;
}
.table > .tcell.t60 {
  width: 60%;
}
.table > .tcell.t61 {
  width: 61%;
}
.table > .tcell.t62 {
  width: 62%;
}
.table > .tcell.t63 {
  width: 63%;
}
.table > .tcell.t64 {
  width: 64%;
}
.table > .tcell.t65 {
  width: 65%;
}
.table > .tcell.t66 {
  width: 66%;
}
.table > .tcell.t67 {
  width: 67%;
}
.table > .tcell.t68 {
  width: 68%;
}
.table > .tcell.t69 {
  width: 69%;
}
.table > .tcell.t70 {
  width: 70%;
}
.table > .tcell.t71 {
  width: 71%;
}
.table > .tcell.t72 {
  width: 72%;
}
.table > .tcell.t73 {
  width: 73%;
}
.table > .tcell.t74 {
  width: 74%;
}
.table > .tcell.t75 {
  width: 75%;
}
.table > .tcell.t76 {
  width: 76%;
}
.table > .tcell.t77 {
  width: 77%;
}
.table > .tcell.t78 {
  width: 78%;
}
.table > .tcell.t79 {
  width: 79%;
}
.table > .tcell.t80 {
  width: 80%;
}
.table > .tcell.t81 {
  width: 81%;
}
.table > .tcell.t82 {
  width: 82%;
}
.table > .tcell.t83 {
  width: 83%;
}
.table > .tcell.t84 {
  width: 84%;
}
.table > .tcell.t85 {
  width: 85%;
}
.table > .tcell.t86 {
  width: 86%;
}
.table > .tcell.t87 {
  width: 87%;
}
.table > .tcell.t88 {
  width: 88%;
}
.table > .tcell.t89 {
  width: 89%;
}
.table > .tcell.t90 {
  width: 90%;
}
.table > .tcell.t91 {
  width: 91%;
}
.table > .tcell.t92 {
  width: 92%;
}
.table > .tcell.t93 {
  width: 93%;
}
.table > .tcell.t94 {
  width: 94%;
}
.table > .tcell.t95 {
  width: 95%;
}
.table > .tcell.t96 {
  width: 96%;
}
.table > .tcell.t97 {
  width: 97%;
}
.table > .tcell.t98 {
  width: 98%;
}
.table > .tcell.t99 {
  width: 99%;
}
.table > .tcell.t100 {
  width: 100%;
}
.table.top > .tcell {
  vertical-align: top;
}
.table.middle > .tcell {
  vertical-align: middle;
}
.table.bottom > .tcell {
  vertical-align: bottom;
}

.ctr {
  text-align: center;
}

.lft {
  text-align: left;
}

.rgt {
  text-align: right;
}

.inlineblock {
  display: inline-block;
}

.nowrap {
  white-space: nowrap;
}

img {
  max-width: 100%;
}

ul.touch-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.touch-list > li a, ul.touch-list > li .el {
  padding: 18px 15px;
  display: block;
}
ul.touch-list > li a.no-el {
  padding: 0;
}
ul.touch-list.with-border > li {
  border-bottom: 1px solid #eee;
}
ul.touch-list.big {
  font-size: 1.2rem;
}

ul.zebra-list > li:nth-child(odd) {
  background: #f1f5fa;
}
ul.zebra-list > li:nth-child(even) {
  background: white;
}
ul.zebra-list.reverse > li:nth-child(odd) {
  background: #fff;
}
ul.zebra-list.reverse > li:nth-child(even) {
  background: #F1F5FA;
}

ul.has-icons > li {
  position: relative;
  padding-left: 35px;
}
ul.has-icons > li .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -15px;
}

ul.no-margin {
  margin: 0;
  padding: 0;
}

ul.no-bullets {
  list-style: none;
}

.icon {
  display: inline-block;
  height: 40px;
  width: 40px;
}
.icon.small {
  height: 30px;
  width: 30px;
}

.icon-header-back {
  background-image: url('/img/layout-sd86f01037c.png');
  background-position: 0 -677px;
  -webkit-background-size: 84px 710px;
  -moz-background-size: 84px 710px;
  -o-background-size: 84px 710px;
  background-size: 84px 710px;
  width: 17px;
  height: 16px;
}

.icon-header-help {
  background-image: url('/img/layout-sd86f01037c.png');
  background-position: 0 -30px;
  -webkit-background-size: 84px 710px;
  -moz-background-size: 84px 710px;
  -o-background-size: 84px 710px;
  background-size: 84px 710px;
  width: 25.5px;
  height: 25.5px;
}

.icon-header-notif {
  background-image: url('/img/layout-sd86f01037c.png');
  background-position: 0 -57.5px;
  -webkit-background-size: 84px 710px;
  -moz-background-size: 84px 710px;
  -o-background-size: 84px 710px;
  background-size: 84px 710px;
  width: 24px;
  height: 27.5px;
}

.icon-home-cita {
  background-image: url('/img/layout-sd86f01037c.png');
  background-position: 0 -396px;
  -webkit-background-size: 84px 710px;
  -moz-background-size: 84px 710px;
  -o-background-size: 84px 710px;
  background-size: 84px 710px;
  width: 33px;
  height: 33px;
}

.icon-home-pagos {
  background-image: url('/img/layout-sd86f01037c.png');
  background-position: 0 -361px;
  -webkit-background-size: 84px 710px;
  -moz-background-size: 84px 710px;
  -o-background-size: 84px 710px;
  background-size: 84px 710px;
  width: 33px;
  height: 33px;
}

.icon-home-feedback {
  background-image: url('/img/layout-sd86f01037c.png');
  background-position: 0 -224.5px;
  -webkit-background-size: 84px 710px;
  -moz-background-size: 84px 710px;
  -o-background-size: 84px 710px;
  background-size: 84px 710px;
  width: 33px;
  height: 33px;
}

.icon-home-herramientas {
  background-image: url('/img/layout-sd86f01037c.png');
  background-position: 0 -87px;
  -webkit-background-size: 84px 710px;
  -moz-background-size: 84px 710px;
  -o-background-size: 84px 710px;
  background-size: 84px 710px;
  width: 33px;
  height: 33px;
}

.icon-home-ayuda {
  background-image: url('/img/layout-sd86f01037c.png');
  background-position: 0 -561px;
  -webkit-background-size: 84px 710px;
  -moz-background-size: 84px 710px;
  -o-background-size: 84px 710px;
  background-size: 84px 710px;
  width: 33px;
  height: 33px;
}

.icon-home-cita {
  background-image: url('/img/layout-sd86f01037c.png');
  background-position: 0 -396px;
  -webkit-background-size: 84px 710px;
  -moz-background-size: 84px 710px;
  -o-background-size: 84px 710px;
  background-size: 84px 710px;
  width: 33px;
  height: 33px;
}

.icon-citas-white {
  background-image: url('/img/layout-sd86f01037c.png');
  background-position: 0 -458.5px;
  -webkit-background-size: 84px 710px;
  -moz-background-size: 84px 710px;
  -o-background-size: 84px 710px;
  background-size: 84px 710px;
  width: 32.5px;
  height: 35.5px;
}

.icon-cita-white {
  background-image: url('/img/layout-sd86f01037c.png');
  background-position: 0 -639.5px;
  -webkit-background-size: 84px 710px;
  -moz-background-size: 84px 710px;
  -o-background-size: 84px 710px;
  background-size: 84px 710px;
  width: 32.5px;
  height: 35.5px;
}

.icon-pagos-white {
  background-image: url('/img/layout-sd86f01037c.png');
  background-position: 0 -259.5px;
  -webkit-background-size: 84px 710px;
  -moz-background-size: 84px 710px;
  -o-background-size: 84px 710px;
  background-size: 84px 710px;
  width: 32.5px;
  height: 35.5px;
}

.icon-feedback-white {
  background-image: url('/img/layout-sd86f01037c.png');
  background-position: 0 -297px;
  -webkit-background-size: 84px 710px;
  -moz-background-size: 84px 710px;
  -o-background-size: 84px 710px;
  background-size: 84px 710px;
  width: 32.5px;
  height: 35.5px;
}

.icon-herramientas-white {
  background-image: url('/img/layout-sd86f01037c.png');
  background-position: 0 -122px;
  -webkit-background-size: 84px 710px;
  -moz-background-size: 84px 710px;
  -o-background-size: 84px 710px;
  background-size: 84px 710px;
  width: 32.5px;
  height: 35.5px;
}

.icon-ayuda-white {
  background-image: url('/img/layout-sd86f01037c.png');
  background-position: 0 -496px;
  -webkit-background-size: 84px 710px;
  -moz-background-size: 84px 710px;
  -o-background-size: 84px 710px;
  background-size: 84px 710px;
  width: 32.5px;
  height: 35.5px;
}

.padded-bottom {
  padding-bottom: 20px;
}

.padded-top {
  padding-top: 20px;
}

.titulo.has-icon {
  position: relative;
  color: #fff;
  margin: 0;
  padding: 22px 0 22px 54px;
  background: #81ade0;
}
.titulo.has-icon:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 44px;
  background: #4d6a8b;
}
.titulo.has-icon .icon {
  position: absolute;
  margin-top: -17.5px;
  top: 50%;
  left: 6px;
  bottom: 0;
}

.was-full-selected, .full-selected {
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}

.full-selected {
  background: #1b2a40;
  color: #fff;
}
.full-selected .full-select-extra-info {
  height: auto;
  max-height: 1000px;
}

.full-select-extra-info {
  display: block;
  height: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
}

input.full-select {
  position: absolute;
  top: -100px;
  height: 0;
  width: 0;
}

big {
  font-size: 1.15rem;
}
big.big {
  font-size: 1.65rem;
}

.blue-darker {
  color: #172336;
}
.blue-darker.bg {
  background: #172336;
  color: #81ade0;
}

.blue-light {
  color: #81ade0;
}

.grey {
  color: #67778a;
}

.bg-blue {
  background: #f1f5fa;
}

.bg-white {
  background: white;
}

.bg-grey {
  background: #f6f7f6;
}

:-moz-placeholder {
  color: #999;
}

::-moz-placeholder {
  color: #999;
}

:-ms-input-placeholder {
  color: #999;
}

::-webkit-input-placeholder {
  color: #999;
}

input, textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.inputtext, .inputsubmit {
  font-size: 1rem;
  border-radius: 0;
  margin: 0;
}

.inputtext {
  color: #666;
  border: 1px solid #eee;
  padding: 0.3rem;
}
.inputtext.uppercase {
  text-transform: uppercase;
}
.inputtext:focus {
  outline: 0;
  border: 1px solid #999;
  color: #333;
}

.inputsubmit {
  padding: 0.45rem 0.65rem;
  border: 0;
}
.inputsubmit.main {
  background: #99f;
  color: #fff;
}
.inputsubmit.block {
  width: 100%;
  display: block;
}

#seccion-cita-lugares li.fecha {
  padding: 5px 0;
  color: #fff;
  background: #81ade0;
}
#seccion-cita-lugares .rel-days {
  color: #98ca74;
}
#seccion-cita-lugares .rel-km {
  color: #4d6a8b;
}
#seccion-cita-lugares li.full-selected .rel-km {
  color: #fff;
}
#seccion-cita-lugares .col-more {
  padding: 5px;
}
#seccion-cita-lugares .col-results {
  padding: 5px;
}
#seccion-cita-lugares .col-results h4 {
  margin: 0;
  padding: 7px 0 5px;
}
#seccion-cita-lugares .col-results small {
  font-size: 0.8rem;
}

#seccion-calculadora .inputnumber {
  padding: 0.5em 0.8em;
  text-align: right;
  width: 100%;
  font-size: 1.3rem;
  color: #fff;
}
#seccion-calculadora table#calc {
  width: 100%;
  border-collapse: collapse;
  font-weight: bold;
  color: #4d6a8b;
}
#seccion-calculadora table#calc td {
  font-size: 1.5rem;
  text-align: center;
  height: 50px;
}
#seccion-calculadora table#calc td + td {
  border-left: 1px dashed #ccc;
}
#seccion-calculadora table#calc tr:nth-child(odd) {
  background: #f1f5fa;
}
#seccion-calculadora table#calc tr:nth-child(even) {
  background: white;
}
#seccion-calculadora table#periodo {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}
#seccion-calculadora table#periodo tr {
  height: 50px;
}
#seccion-calculadora table#periodo td.selected {
  background: #1b2a40;
  color: #81ade0;
}
#seccion-calculadora table#resultado {
  display: none;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}
#seccion-calculadora table#resultado td:nth-child(2) {
  background: #f1f5fa;
}
#seccion-calculadora table#resultado tr {
  height: 50px;
}

#seccion-404 .titulo {
  background: #f00;
}
#seccion-404 .titulo:before {
  background: #900;
}
