@import 'compass/css3/shared';
@import 'compass/css3/transition';
@import 'compass/css3/transform';

$header-height: 55px;


$blue-darker: #172336;
$blue-dark: #1B2A40;
$blue-medium: #4D6A8B;
$blue-light: #81ADE0;

$grey: #67778A;

$bg-blue: #F1F5FA;
$bg-white: #fff;
$bg-grey: #F6F7F6;

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin input-placeholder {
  :-moz-placeholder { @content; }
  ::-moz-placeholder { @content; }
  :-ms-input-placeholder { @content; }
  ::-webkit-input-placeholder { @content; } 
}
