@charset "UTF-8";
@import 'include';

// Genérico
.table{
  display: table;
  width: 100%;
  &.padded{
    > .tcell{
      padding: 10px 5px;
      &:first-child{
        padding-left: 10px;
      }
      &:last-child{
        padding-right: 10px;
      }
    }
  }
  > .tcell{
    display: table-cell;
    &.top{
      vertical-align: top;
    }
    &.middle{
      vertical-align: middle;
    }
    &.bottom{
      vertical-align: bottom;
    }

    @for $i from 1 through 100{
      &.t#{$i}{
        width: #{$i#{unquote("%")}}; 
      }
    }
  }
  &.top{
    > .tcell{
      vertical-align: top;
    }
  }
  &.middle{
    > .tcell{
      vertical-align: middle;
    }
  }
  &.bottom{
    > .tcell{
      vertical-align: bottom;
    }
  }
}
.ctr{
  text-align: center;
}
.lft{
  text-align: left;
}
.rgt{
  text-align: right;
}
.inlineblock{
  display: inline-block;
}
.nowrap{
  white-space: nowrap;
}

img{
  max-width: 100%;
}

ul.touch-list{
  list-style: none;
  margin: 0;
  padding: 0;
  > li{
    a, .el{
      padding: 18px 15px;
      display: block;
    }
    a.no-el{
      padding: 0;
    }
  }
  &.with-border{
    > li{
      border-bottom: 1px solid #eee;
    }
  }
  &.big{
    font-size: 1.2rem;
  }
}
ul.zebra-list{
  > li{
    &:nth-child(odd){
      background: $bg-blue;
    }
    &:nth-child(even){
      background: $bg-white;
    }
  }
  &.reverse{
    > li{
      &:nth-child(odd){
        background: #fff;
      }
      &:nth-child(even){
        background: #F1F5FA;
      }
    }
  }
}
ul.has-icons{
  > li{
    position: relative;
    padding-left: 35px;
    .icon{
      position: absolute;
      left: 10px;
      top: 50%;
      margin-top: -15px;
    }
  }
}
ul.no-margin{
  margin: 0;
  padding: 0;
}
ul.no-bullets{
  list-style: none;
}

.icon{
  display: inline-block;
  height: 40px;
  width: 40px;
  // background: rgba($blue-light, 0.3);
  &.small{
    height: 30px;
    width: 30px;
  }
}
.icon-header-back{ @include bg($layout, 'header_back'); }
.icon-header-help{ @include bg($layout, 'header_ayuda'); }
.icon-header-notif{ @include bg($layout, 'header_notificacion'); }
.icon-home-cita{ @include bg($layout, 'home_cita'); }
.icon-home-pagos{  @include bg($layout, 'home_pagos'); }
.icon-home-feedback{ @include bg($layout, 'home_feedback'); }
.icon-home-herramientas{ @include bg($layout, 'home_herramientas'); }
.icon-home-ayuda{  @include bg($layout, 'home_ayuda'); }
.icon-home-cita{ @include bg($layout, 'home_cita'); }
.icon-citas-white{ @include bg($layout, 'white_citas'); }
.icon-cita-white{ @include bg($layout, 'white_cita'); }
.icon-pagos-white{ @include bg($layout, 'white_pagos'); }
.icon-feedback-white{ @include bg($layout, 'white_feedback'); }
.icon-herramientas-white{ @include bg($layout, 'white_herramientas'); }
.icon-ayuda-white{ @include bg($layout, 'white_ayuda'); }

.padded-bottom{
  padding-bottom: 20px;
}
.padded-top{
  padding-top: 20px;
}

.titulo{
  &.has-icon{
    position: relative;
    color: #fff;
    margin: 0;
    padding: 22px 0 22px $header-height+10;
    background: $blue-light;
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: $header-height;
      background: $blue-medium;
    }
    .icon{
      position: absolute;
      margin-top: -17.5px;
      top: 50%;
      left: 6px;
      bottom: 0;
    }
  }
}

.was-full-selected, .full-selected{
  @include transition(background 0.3s);
}
.full-selected{
  background: $blue-dark;
  color: #fff;
  .full-select-extra-info{
    height: auto;
    max-height: 1000px;
  }
}
.full-select-extra-info{
  display: block;
  height: 0;
  max-height: 0;
  overflow: hidden;
  @include transition(max-height 1s);
}

input.full-select{
  position: absolute;
  top: -100px;
  height: 0;
  width: 0;
}

big{
  font-size: 1.15rem;
  &.big{
    font-size: 1.65rem;
  }
}

// Colores
.blue-darker{
  color: $blue-darker;
  &.bg{
    background: $blue-darker;
    color: $blue-light;
  }
}

.blue-light{
  color: $blue-light;
}

.grey{
  color: $grey;
}

.bg-blue{
  background: $bg-blue;
}
.bg-white{
  background: $bg-white;
}
.bg-grey{
  background: $bg-grey;
}

// Forma
@include input-placeholder{
  color: #999;
}
input, textarea{
  @include box-sizing(border-box);
}
.inputtext, .inputsubmit{
  font-size: 1rem;
  border-radius: 0;
  margin: 0;
}
.inputtext{
  color: #666;
  border: 1px solid #eee;
  padding: 0.3rem;
  &.uppercase{
    text-transform: uppercase;
  }
  &:focus{
    outline: 0;
    border: 1px solid #999;
    color: #333;
  }
}
.inputsubmit{
  padding: 0.45rem 0.65rem;
  border: 0;
  &.main{
    background: #99f;
    color: #fff;
  }
  &.block{
    width: 100%;
    display: block;
  }
}

#seccion-home{
  .bienvenida{
    margin: 0;
    padding: 30px 0;
    color: #fff;
    background: #110B14 url('/img/bienvenida.png') no-repeat top center;
    background-size: 50% auto;
  }
  .seleccion-tramite{
    font-size: 22px;
    margin: 0;
    padding: 15px 15px;
    color: #fff;
    background: $blue-light;
  }
}
#seccion-cita-lugares{
  li.fecha{
    padding: 5px 0;
    color: #fff;
    background: $blue-light;
  }
  .rel-days{
    color: $green-light;
  }
  .rel-km{
    color: $blue-medium;
  }
  li.full-selected{
    .rel-km{
      color: #fff;
    }
  }
  .col-more{
    padding: 5px;
  }
  .col-results{
    padding: 5px;
    h4{
      margin: 0;
      padding: 7px 0 5px;
    }
    small{
      font-size: 0.8rem;
    }
  }
}

#seccion-calculadora{
  .inputnumber{
    padding: 0.5em 0.8em;
    text-align: right;
    width: 100%;
    font-size: 1.3rem;
    color: #fff;
  }
  table#calc{
    width: 100%;
    border-collapse: collapse;
    font-weight: bold;
    color: $blue-medium;
    td{
      font-size: 1.5rem;
      text-align: center;
      height: 50px;
      & + td{
        border-left: 1px dashed #ccc;
      }
    }
    tr{
      &:nth-child(odd){
        background: $bg-blue;
      }
      &:nth-child(even){
        background: $bg-white;
      }
    }
  }
  table#periodo{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    tr{
      height: 50px;
    }
    td.selected{
      background: $blue-dark;
      color: $blue-light;
    }
  }
  table#resultado{
    display: none;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    td{
      &:nth-child(2){
        background: $bg-blue;
      }
    }

    tr{
      height: 50px;
    }
  }
}

#seccion-404{
  .titulo{
    background: #f00;
    &:before{
      background: #900;
    }
  }
}
