@charset "UTF-8";
@import 'include';

// Genérico
.ctr{
  text-align: center;
}
.lft{
  text-align: left;
}
.rgt{
  text-align: right;
}
.inlineblock{
  display: inline-block;
}

ul.touch-list{
  list-style: none;
  margin: 0;
  padding: 0;
  > li{
    a{
      background: rgba(#fff, .5);
      padding: 10px 10px;
      display: block;
    }
  }
}

// Forma
@include input-placeholder{
  color: #999;
}
.inputtext, .inputsubmit{
  font-size: 1rem;
  border-radius: 0;
  margin: 0;
}
.inputtext{
  color: #666;
  border: 1px solid #eee;
  padding: 0.3rem;
  &.uppercase{
    text-transform: uppercase;
  }
  &:focus{
    outline: 0;
    border: 1px solid #999;
    color: #333;
  }
}
.inputsubmit{
  padding: 0.45rem 0.65rem;
  border: 0;
  &.main{
    background: #99f;
    color: #fff;
  }
  &.block{
    width: 100%;
    display: block;
  }
}
