body{
  color: #333;
  background: #eee;
  margin: 0;
  padding: 44px 0 0;
  font: 100%/1.15 Helvetica, sans-serif;
}

header#app-header{
  position: fixed;
  z-index: 300;
  margin-bottom: 44px;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  min-height: 44px;
  span.logo{
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 50px;
    width: 110px;
    background: url('/img/sat.png') no-repeat;
    background-size: auto 35px;
  }
  a.action{
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 44px;
    line-height: 44px;
    font-size: 33px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background: rgba(#000, 0.3);
    &.help{
      right: 0;
    }
    &.notif{
      right: 44px;
    }
  }
}

ul.touch-list{
  list-style: none;
  margin: 0;
  padding: 0;
  > li{
    a{
      padding: 10px 0;
      display: block;
    }
  }
}

#app-main{
  position: relative;
}

#app, #app2{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 10px;
  background: #fff;
}
#app2{
  background: #9ff;
}

.slide-in{
  z-index: 101;
  -webkit-animation: slidein 0.4s;
  &.slide-back{
    -webkit-animation: slidein-back 0.4s;
    -webkit-transform: translateX(0%);
  }
}

.slide-out{
  z-index: 100;
  -webkit-animation: slideout 0.4s;
  -webkit-transform: translateX(-100%);
  &.slide-back{
    -webkit-animation: slideout-back 0.4s;
    -webkit-transform: translateX(100%);
  }
}

@-webkit-keyframes slideout{
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@-webkit-keyframes slidein{
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

@-webkit-keyframes slideout-back{
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
  }
}
@-webkit-keyframes slidein-back{
  0% {
    -webkit-transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
