@import 'include';

body{
  color: #333;
  background: #fff;
  margin: 0;
  padding: $header-height 0 0;
  font: 16px/1.15 proxima-nova-soft, Helvetica, sans-serif;
}

a{
  color: $blue-dark;
  text-decoration: none;
}

header#app-header{
  position: fixed;
  z-index: 300;
  margin-bottom: $header-height;
  top: 0;
  left: 0;
  right: 0;
  min-height: $header-height;
  border-bottom: 1px solid #ccc;
  background: #F6F7F6;
  background: linear-gradient(#F6F7F6 50%, #EEF0EE 50%);
  span.logo{
    position: absolute;
    top: 7px;
    bottom: 0;
    left: 6px;
    width: 110px;
    background: url('/img/sat.png') no-repeat;
    background-size: auto 40px;
    @include transition(left 0.33s);
  }
  a.action{
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: $header-height;
    line-height: $header-height;
    font-size: 33px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    @include transition(left 0.33s);
    &.back{
      background: #78A3D0;
      background: linear-gradient(#78A3D0 50%, #749ECA 50%);
      left: -$header-height;
    }
    &.help{
      right: 0;
    }
    &.notif{
      right: $header-height;
    }
  }
  &.has-history{
    a.back{
      left: 0;
    }
    span.logo{
      left: $header-height+6;
    }
  }
}

#app-main{
  position: relative;
}

#app, #app2{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
#app2{
}

.wrap{
  padding: 0 10px;
}

.slide-in{
  z-index: 101;
  @include experimental(animation, slidein 0.4s);
  &.slide-back{
    @include experimental(animation, slidein-back 0.4s);
    @include transform(translateX(0%));
  }
}

.slide-out{
  z-index: 100;
  @include experimental(animation, slideout 0.4s);
  @include transform(translateX(-100%));
  &.slide-back{
    @include experimental(animation, slideout-back 0.4s);
    @include transform(translateX(100%));
  }
}

@include keyframes(slideout){
  0% {
    @include transform(translateX(0%));
  }
  100% {
    @include transform(translateX(100%));
  }
}

@include keyframes(slideout){
  0% {
    @include transform(translateX(0%));
  }
  100% {
    @include transform(translateX(-100%));
  }
}
@include keyframes(slidein){
  0% {
    @include transform(translateX(100%));
  }
  100% {
    @include transform(translateX(0%));
  }
}

@include keyframes(slideout-back){
  0% {
    @include transform(translateX(0%));
  }
  100% {
    @include transform(translateX(100%));
  }
}
@include keyframes(slidein-back){
  0% {
    @include transform(translateX(-100%));
  }
  100% {
    @include transform(translateX(0%));
  }
}

@import 'secciones';
