@import 'include';

body{
  color: #333;
  background: #eee;
  margin: 0;
  padding: 44px 0 0;
  font: 100%/1.15 Helvetica, sans-serif;
}

header#app-header{
  position: fixed;
  z-index: 300;
  margin-bottom: 44px;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  min-height: 44px;
  border-bottom: 1px solid #ccc;
  span.logo{
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 6px;
    width: 110px;
    background: url('/img/sat.png') no-repeat;
    background-size: auto 35px;
    @include transition(left 0.33s);
  }
  a.action{
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 44px;
    line-height: 44px;
    font-size: 33px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background: rgba(#000, 0.3);
    @include transition(left 0.33s);
    &.back{
      left: -44px;
    }
    &.help{
      right: 0;
    }
    &.notif{
      right: 44px;
    }
  }
  &.has-history{
    a.back{
      left: 0;
    }
    span.logo{
      left: 50px;
    }
  }
}

#app-main{
  position: relative;
}

#app, #app2{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #ffe;
}
#app2{
  background: #eff;
}

.wrap{
  padding: 0 10px;
}

.slide-in{
  z-index: 101;
  @include experimental(animation, slidein 0.4s);
  &.slide-back{
    @include experimental(animation, slidein-back 0.4s);
    @include transform(translateX(0%));
  }
}

.slide-out{
  z-index: 100;
  @include experimental(animation, slideout 0.4s);
  @include transform(translateX(-100%));
  &.slide-back{
    @include experimental(animation, slideout-back 0.4s);
    @include transform(translateX(100%));
  }
}

@include keyframes(slideout){
  0% {
    @include transform(translateX(0%));
  }
  100% {
    @include transform(translateX(100%));
  }
}

@include keyframes(slideout){
  0% {
    @include transform(translateX(0%));
  }
  100% {
    @include transform(translateX(-100%));
  }
}
@include keyframes(slidein){
  0% {
    @include transform(translateX(100%));
  }
  100% {
    @include transform(translateX(0%));
  }
}

@include keyframes(slideout-back){
  0% {
    @include transform(translateX(0%));
  }
  100% {
    @include transform(translateX(100%));
  }
}
@include keyframes(slidein-back){
  0% {
    @include transform(translateX(-100%));
  }
  100% {
    @include transform(translateX(0%));
  }
}

@import 'secciones';
